<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>extension</mat-icon> <h1> Películas </h1>
        </a>

        <a routerLink="generos" mat-button>
            <mat-icon>extension</mat-icon> <h1> Generos</h1>
        </a>

        <a routerLink="actores" mat-button>
            <mat-icon>extension</mat-icon> <h1> Actores</h1>
        </a>

        <a routerLink="cines" mat-button>
            <mat-icon>extension</mat-icon> <h1> Cines</h1>
        </a>

        <a routerLink="peliculas/crear" mat-button>
            <mat-icon>extension</mat-icon> <h1>Crear Peliculas</h1>
        </a>


    </span>
</mat-toolbar>